@charset "UTF-8";
/*import*/
/* MEDIA QUERIES */
/*variables*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
h1 {
  color: #36231b; }

nav a {
  color: #36231b; }

nav a:hover {
  color: #7c5847; }

button {
  color: #36231b;
  background-color: transparent; }

button:hover {
  color: #7c5847;
  background-color: transparent; }

footer a {
  color: #7c5847; }

footer a:hover,
.pie-de-pagina:hover {
  color: #36231b; }

div#frase {
  display: none; }

div#frase:hover {
  color: #36231b; }

aside#cuadro,
#audio {
  background-color: #36231b; }

/*variables*/
/*header*/
h2,
.titulo-inicio {
  font: normal "Roboto", sans serif;
  font-size: 1.6em;
  text-decoration: none; }

/*frase inicio*/
blockquote {
  font: normal "Roboto", sans serif;
  font-size: 30px; }

cite {
  font: normal 1.6em "Roboto", sans serif;
  font-style: oblique; }

/*menu*******************************/
nav,
.menu ul li a {
  font: normal 25px "Bebas Neue", sans serif none; }

nav,
.menu ul li {
  list-style-type: none; }

nav a {
  text-decoration: none !important; }

ul li,
.menu__sub a :hover {
  font-size: 10px; }

/*biografia*/
main#bio-texto div#biografia {
  font: normal "Roboto", sans serif;
  text-align: justify; }

footer a {
  font: normal 25px "Bebas Neue", sans serif none;
  text-decoration: none; }

/*grilla landing*/
#grilla-inicio {
  display: grid;
  grid-template-columns: 1fr 0.5fr 5fr;
  grid-template-rows: 1.5fr auto auto auto auto auto 100px;
  height: 100vh;
  margin: 0;
  padding: 0; }

header {
  grid-area: 1/1/2/4; }

nav {
  grid-area: 2/2/3/4; }

#landing {
  grid-area: 3/2/4/4; }

aside#cuadro,
#audio {
  grid-area: 3/2/4/3;
  background-color: #36231b; }

section#video-inicio {
  grid-area: 4/3/5/4; }

div#fotos-inicio {
  grid-area: 5/2/6/4; }

footer {
  grid-area: 6/1/7/4 !important; }

/*grilla bio*/
#grilla-bio {
  display: grid;
  grid-template-columns: 0.5fr 3fr 1.5fr;
  grid-template-rows: 1.5fr auto auto auto;
  height: 100vh;
  margin: 0;
  padding: 0; }

header {
  grid-area: 1/1/2/4; }

nav {
  grid-area: 2/2/3/4; }

main#bio-texto {
  grid-area: 3/2/4/3; }

aside#fotos-bio {
  grid-area: 3/3/4/4; }

footer {
  grid-area: 4/1/5/4; }

/*grilla taller*/
div#grilla-taller {
  display: grid;
  grid-template-columns: 0.5fr 1fr 3fr;
  grid-template-rows: 1.5fr auto auto auto;
  height: 100vh;
  margin: 0;
  padding: 0; }

header {
  grid-area: 1/1/2/4; }

nav {
  grid-area: 2/2/3/4; }

main#taller {
  grid-area: 3/2/4/3; }

aside#img-taller {
  grid-area: 3/3/4/4; }

footer {
  grid-area: 4/1/5/4; }

/*grilla musica*/
#grilla-musica {
  display: grid;
  grid-template-columns: 0.5fr 3fr 3fr;
  grid-template-rows: 1.5fr auto auto auto auto auto;
  height: 100vh;
  margin: 0;
  padding: 0; }

header {
  grid-area: 1/1/2/4; }

nav {
  grid-area: 2/2/3/4; }

#musica div {
  grid-area: 3/2/4/3; }

footer {
  grid-area: 4/1/5/4; }

/*grilla actividad artistica*/
div#grilla-actividad {
  display: grid;
  grid-template-columns: 0.5fr 3fr 3fr;
  grid-template-rows: 1.5fr auto auto auto auto auto;
  height: 100vh;
  margin: 0;
  padding: 0; }

header {
  grid-area: 1/1/2/4; }

nav {
  grid-area: 2/2/3/4; }

main {
  grid-area: 3/2/4/4; }

footer {
  grid-area: 6/1/7/4; }

/*grilla contacto*/
div#grilla-contacto {
  display: grid;
  grid-template-columns: 0.5fr 3fr 3fr;
  grid-template-rows: 1.5fr auto auto auto auto;
  height: 100vh;
  margin: 0;
  padding: 0; }

header {
  grid-area: 1/1/2/4; }

nav {
  grid-area: 2/2/3/4; }

main div#contacto form {
  grid-area: 3/2/4/4; }

footer {
  grid-area: 4/1/5/4; }

.grilla-instrumentos {
  display: grid;
  grid-template-columns: 0.5fr 3fr 3fr;
  grid-template-rows: 1.5fr auto auto auto;
  height: 100vh;
  margin: 0;
  padding: 0; }

header {
  grid-area: 1/1/2/4; }

nav {
  grid-area: 2/2/3/4; }

main {
  grid-area: 3/2/4/4; }

footer {
  grid-area: 4/1/5/4; }

/*instrumentos*/
section#grid-instrumentos div h4,
section#grid-instrumentos div .subtitulos {
  padding: 3em;
  display: grid;
  grid-gap: 2em; }

section#grid-instrumentos div img {
  padding: 2em; }

/*menu**********************************************/
nav {
  display: flex;
  flex-flow: row space-evenly;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: flex-end; }

.menu__sub {
  display: none;
  position: absolute; }

.menu__secundario:hover .menu__sub {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

/*frase inicio*/
div#frase {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end; }

aside#cuadro,
#audio {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-self: flex-start; }

/*fotos instrumentos inicio*/
div#fotos-inicio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; }

/*biografia*/
#bio-texto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start; }

aside#fotos-bio {
  display: flex;
  flex-direction: column; }

/*taller*/
article#el-taller {
  display: flex; }

aside#img-taller {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start; }

/*musica*/
div#musica {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

aside#musica-spotify {
  display: flex;
  flex-direction: column; }

/*capacitaciones*/
section#capacitaciones div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

/*instrumentos*/
div,
.flex-instrumentos div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start; }

/*footer****************************************/
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: flex-end; }

/* transiciones */
/* animaciones */
/*
section,
.frase-inicio {
    width: 100px;
    height: 100px;
    animation-name: efecto_efecto;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-duration: 10s;
    ;
    animation-delay: 1s;
}


/* linea de tiempo */
/*
@keyframes efecto_efecto {
    0% {
        width: 50px;
        height: 50px;
        color: transparent;
        background-color: white;
    }
    20% {
        width: 100px;
        height: 100px;
        color: transparent;
        background-color: white
    }
    60% {
        width: 200px;
        height: 200px;
        color: transparent;
    }
    100% {
        width: 1200px;
        height: 400px;
       


}
 /* final */
/*
}
.quena,
.pinkullo,
.siku,
.moxe単o,
.flauta-de-pan,
.flauta-traversa {
    width: 100px;
}

/*
section .quena:hover,
.pinkullo:hover,
.siku:hover,
.moxe単o:hover,
.flauta-de-pan:hover,
.flauta-traversa:hover {
    width: 600px;
}
*/
div#frase {
  width: 70%;
  height: auto;
  transition: height 4s, width 4s;
  color: transparent; }

div#frase:hover {
  width: 100%;
  height: auto; }

/* trasladar */
/*

section,
.bio-texto {
    margin: 100px;
    font-size: 30px;
    color: White;
    width: 200px;
    height: 200px;
    animation-name: efecto_dos;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-duration: 10s;
    ;
    animation-delay: 1s;
}


/* linea de tiempo */
/*

@keyframes efecto_dos {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.25, 1.25)
    }
    60% {
        transform: scale(2, 1.5);
    }
    100% {
        transform: scale(1);
    }
}
*/
/*header*/
body {
  margin: 0;
  padding: 0; }

header {
  background-image: url(../multimedia/bannercopia.JPG);
  background-size: cover; }
  header h1 a img,
  header .logo-inicio {
    width: 90px;
    height: auto;
    margin: 1%;
    padding: 0;
    position: fixed;
    z-index: 10; }
  header h2 {
    margin-left: 10%;
    padding: 2%; }

/*menu*/
nav {
  margin-bottom: 5%; }
  nav li {
    margin: 10px; }
  nav button {
    border: none; }

/*contenido inicio*/
aside#cuadro img {
  width: 250px;
  height: auto; }

section#video-inicio {
  margin-top: 5%;
  margin-left: 30%; }

div#fotos-inicio img {
  height: auto;
  width: 75%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 0; }

#landing {
  margin-right: 5%; }

/*biografia*/
aside#fotos-bio {
  margin: 3%;
  padding: 3%;
  width: 200px;
  height: auto; }

/*el taller*/
section#el-taller {
  margin: 5%;
  padding: 5%; }

aside#img-taller {
  margin: 0;
  padding: 0; }

/*instrumentos*/
/*actividad*/
section#capacitaciones img {
  width: 100%; }

/*variables*/
/*
@media (max-width: 480px) {
    body {
        background-color: #d9b38c;
    }
}

@media (min-width:480px) and (max-width: 768px) {
    body {
        background-color: #c3c388;
    }
}

@media (min-width:768px) and (max-width: 1200px) {
    body {
        background-color: #aaaa55;
    }
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */ }

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */ }

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */ }

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */ }

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */ }

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */ }

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */ }

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */ }

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */ }

/*variables*/
h1 {
  color: #36231b; }

nav a {
  color: #36231b; }

nav a:hover {
  color: #7c5847; }

button {
  color: #36231b;
  background-color: transparent; }

button:hover {
  color: #7c5847;
  background-color: transparent; }

footer a {
  color: #7c5847; }

footer a:hover,
.pie-de-pagina:hover {
  color: #36231b; }

div#frase {
  display: none; }

div#frase:hover {
  color: #36231b; }

aside#cuadro,
#audio {
  background-color: #36231b; }

/*variables*/
/*header*/
h2,
.titulo-inicio {
  font: normal "Roboto", sans serif;
  font-size: 1.6em;
  text-decoration: none; }

/*frase inicio*/
blockquote {
  font: normal "Roboto", sans serif;
  font-size: 30px; }

cite {
  font: normal 1.6em "Roboto", sans serif;
  font-style: oblique; }

/*menu*******************************/
nav,
.menu ul li a {
  font: normal 25px "Bebas Neue", sans serif none; }

nav,
.menu ul li {
  list-style-type: none; }

nav a {
  text-decoration: none !important; }

ul li,
.menu__sub a :hover {
  font-size: 10px; }

/*biografia*/
main#bio-texto div#biografia {
  font: normal "Roboto", sans serif;
  text-align: justify; }

footer a {
  font: normal 25px "Bebas Neue", sans serif none;
  text-decoration: none; }

/*grilla landing*/
#grilla-inicio {
  display: grid;
  grid-template-columns: 1fr 0.5fr 5fr;
  grid-template-rows: 1.5fr auto auto auto auto auto 100px;
  height: 100vh;
  margin: 0;
  padding: 0; }

header {
  grid-area: 1/1/2/4; }

nav {
  grid-area: 2/2/3/4; }

#landing {
  grid-area: 3/2/4/4; }

aside#cuadro,
#audio {
  grid-area: 3/2/4/3;
  background-color: #36231b; }

section#video-inicio {
  grid-area: 4/3/5/4; }

div#fotos-inicio {
  grid-area: 5/2/6/4; }

footer {
  grid-area: 6/1/7/4 !important; }

/*grilla bio*/
#grilla-bio {
  display: grid;
  grid-template-columns: 0.5fr 3fr 1.5fr;
  grid-template-rows: 1.5fr auto auto auto;
  height: 100vh;
  margin: 0;
  padding: 0; }

header {
  grid-area: 1/1/2/4; }

nav {
  grid-area: 2/2/3/4; }

main#bio-texto {
  grid-area: 3/2/4/3; }

aside#fotos-bio {
  grid-area: 3/3/4/4; }

footer {
  grid-area: 4/1/5/4; }

/*grilla taller*/
div#grilla-taller {
  display: grid;
  grid-template-columns: 0.5fr 1fr 3fr;
  grid-template-rows: 1.5fr auto auto auto;
  height: 100vh;
  margin: 0;
  padding: 0; }

header {
  grid-area: 1/1/2/4; }

nav {
  grid-area: 2/2/3/4; }

main#taller {
  grid-area: 3/2/4/3; }

aside#img-taller {
  grid-area: 3/3/4/4; }

footer {
  grid-area: 4/1/5/4; }

/*grilla musica*/
#grilla-musica {
  display: grid;
  grid-template-columns: 0.5fr 3fr 3fr;
  grid-template-rows: 1.5fr auto auto auto auto auto;
  height: 100vh;
  margin: 0;
  padding: 0; }

header {
  grid-area: 1/1/2/4; }

nav {
  grid-area: 2/2/3/4; }

#musica div {
  grid-area: 3/2/4/3; }

footer {
  grid-area: 4/1/5/4; }

/*grilla actividad artistica*/
div#grilla-actividad {
  display: grid;
  grid-template-columns: 0.5fr 3fr 3fr;
  grid-template-rows: 1.5fr auto auto auto auto auto;
  height: 100vh;
  margin: 0;
  padding: 0; }

header {
  grid-area: 1/1/2/4; }

nav {
  grid-area: 2/2/3/4; }

main {
  grid-area: 3/2/4/4; }

footer {
  grid-area: 6/1/7/4; }

/*grilla contacto*/
div#grilla-contacto {
  display: grid;
  grid-template-columns: 0.5fr 3fr 3fr;
  grid-template-rows: 1.5fr auto auto auto auto;
  height: 100vh;
  margin: 0;
  padding: 0; }

header {
  grid-area: 1/1/2/4; }

nav {
  grid-area: 2/2/3/4; }

main div#contacto form {
  grid-area: 3/2/4/4; }

footer {
  grid-area: 4/1/5/4; }

.grilla-instrumentos {
  display: grid;
  grid-template-columns: 0.5fr 3fr 3fr;
  grid-template-rows: 1.5fr auto auto auto;
  height: 100vh;
  margin: 0;
  padding: 0; }

header {
  grid-area: 1/1/2/4; }

nav {
  grid-area: 2/2/3/4; }

main {
  grid-area: 3/2/4/4; }

footer {
  grid-area: 4/1/5/4; }

/*instrumentos*/
section#grid-instrumentos div h4,
section#grid-instrumentos div .subtitulos {
  padding: 3em;
  display: grid;
  grid-gap: 2em; }

section#grid-instrumentos div img {
  padding: 2em; }

/*menu**********************************************/
nav {
  display: flex;
  flex-flow: row space-evenly;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: flex-end; }

.menu__sub {
  display: none;
  position: absolute; }

.menu__secundario:hover .menu__sub {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

/*frase inicio*/
div#frase {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end; }

aside#cuadro,
#audio {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-self: flex-start; }

/*fotos instrumentos inicio*/
div#fotos-inicio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; }

/*biografia*/
#bio-texto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start; }

aside#fotos-bio {
  display: flex;
  flex-direction: column; }

/*taller*/
article#el-taller {
  display: flex; }

aside#img-taller {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start; }

/*musica*/
div#musica {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

aside#musica-spotify {
  display: flex;
  flex-direction: column; }

/*capacitaciones*/
section#capacitaciones div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

/*instrumentos*/
div,
.flex-instrumentos div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start; }

/*footer****************************************/
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: flex-end; }

/* transiciones */
/* animaciones */
/*
section,
.frase-inicio {
    width: 100px;
    height: 100px;
    animation-name: efecto_efecto;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-duration: 10s;
    ;
    animation-delay: 1s;
}


/* linea de tiempo */
/*
@keyframes efecto_efecto {
    0% {
        width: 50px;
        height: 50px;
        color: transparent;
        background-color: white;
    }
    20% {
        width: 100px;
        height: 100px;
        color: transparent;
        background-color: white
    }
    60% {
        width: 200px;
        height: 200px;
        color: transparent;
    }
    100% {
        width: 1200px;
        height: 400px;
       


}
 /* final */
/*
}
.quena,
.pinkullo,
.siku,
.moxe単o,
.flauta-de-pan,
.flauta-traversa {
    width: 100px;
}

/*
section .quena:hover,
.pinkullo:hover,
.siku:hover,
.moxe単o:hover,
.flauta-de-pan:hover,
.flauta-traversa:hover {
    width: 600px;
}
*/
div#frase {
  width: 70%;
  height: auto;
  transition: height 4s, width 4s;
  color: transparent; }

div#frase:hover {
  width: 100%;
  height: auto; }

/* trasladar */
/*

section,
.bio-texto {
    margin: 100px;
    font-size: 30px;
    color: White;
    width: 200px;
    height: 200px;
    animation-name: efecto_dos;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-duration: 10s;
    ;
    animation-delay: 1s;
}


/* linea de tiempo */
/*

@keyframes efecto_dos {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.25, 1.25)
    }
    60% {
        transform: scale(2, 1.5);
    }
    100% {
        transform: scale(1);
    }
}
*/
/*header*/
body {
  margin: 0;
  padding: 0; }

header {
  background-image: url(../multimedia/bannercopia.JPG);
  background-size: cover; }
  header h1 a img,
  header .logo-inicio {
    width: 90px;
    height: auto;
    margin: 1%;
    padding: 0;
    position: fixed;
    z-index: 10; }
  header h2 {
    margin-left: 10%;
    padding: 2%; }

/*menu*/
nav {
  margin-bottom: 5%; }
  nav li {
    margin: 10px; }
  nav button {
    border: none; }

/*contenido inicio*/
aside#cuadro img {
  width: 250px;
  height: auto; }

section#video-inicio {
  margin-top: 5%;
  margin-left: 30%; }

div#fotos-inicio img {
  height: auto;
  width: 75%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 0; }

#landing {
  margin-right: 5%; }

/*biografia*/
aside#fotos-bio {
  margin: 3%;
  padding: 3%;
  width: 200px;
  height: auto; }

/*el taller*/
section#el-taller {
  margin: 5%;
  padding: 5%; }

aside#img-taller {
  margin: 0;
  padding: 0; }

/*instrumentos*/
/*actividad*/
section#capacitaciones img {
  width: 100%; }

/*margenes y paddings*/
body {
  height: 100vh;
  margin: 0px;
  padding: 0px; }
