/*import*/
/* MEDIA QUERIES */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@media (min-width: 320px) and (max-width: 480px) {
  body#home {
    background-color: #d9b38c; } }

@media (min-width: 480px) and (max-width: 768px) {
  body#home {
    background-color: #c3c388; } }

@media (min-width: 768px) and (max-width: 1200px) {
  body#home {
    background-color: #aaaa55; } }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */ }

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */ }

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */ }

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */ }

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */ }

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */ }

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */ }

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */ }

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */ }

/*variables*/
body {
  background-color: floralwhite; }

h1 {
  color: #36231b; }

nav a {
  color: #36231b; }

nav a:hover {
  color: #7c5847; }

button {
  background-color: transparent; }

footer a {
  color: #7c5847; }

footer a:hover,
.pie-de-pagina:hover {
  color: #36231b; }

/*variables*/
h2,
.titulo-inicio {
  font: normal "Roboto", sans serif;
  font-size: 1.6em;
  text-decoration: none; }

section,
.bio-texto {
  font: normal "Roboto", sans serif;
  text-align: justify; }

nav,
.menu ul li a {
  font: normal 25px "Bebas Neue", sans serif none; }

nav,
.menu ul li {
  list-style-type: none; }

nav a {
  text-decoration: none !important; }

ul li,
.menu__sub a :hover {
  font-size: 10px; }

footer a {
  font: normal 25px "Bebas Neue", sans serif none;
  text-decoration: none; }

body {
  height: 100vh; }

#gridinstrumentos {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; }

/* flexbox*/
/*header********************************************/
header {
  display: flex; }

/*menu**********************************************/
nav {
  display: flex;
  flex-flow: row space-evenly;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: flex-end; }

.menu__sub {
  display: none;
  position: absolute; }

.menu__secundario:hover .menu__sub {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

/*landing page*/
.frase,
.cuadro-inicio {
  display: flex; }

.frase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; }

.cuadro-inicio {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end; }

/*biografia**********************************/
.biografia {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center; }

section,
.bio-texto {
  display: flex;
  flex-direction: column; }

aside,
.fotos-bio {
  display: flex;
  flex-direction: column; }

/*footer****************************************/
section form,
.contacto-form {
  display: flex;
  flex-direction: column; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: flex-end; }

main {
  margin: 5%; }

h2 {
  margin-left: 10%;
  padding: 2%; }

h1 a img,
.logo-inicio {
  width: 100px;
  height: auto;
  margin: 1%;
  padding: 0;
  position: fixed;
  z-index: 10; }

li {
  margin: 10px; }

figure img {
  width: 300px;
  height: auto; }

section,
.fotos-bio {
  width: 300px;
  height: auto; }

button {
  border: none; }

header {
  background-image: url(../multimedia/bannercopia.JPG);
  background-size: cover; }

img {
  width: 300px;
  height: auto; }
