/*variables*/

$coloruno:#eed14fb7;
$colordos:#a1a836;
$colortres:peru;
$colorfondo:floralwhite;
$colorfondodos:burlywood;
$colorredes:rgb(124, 88, 71);
$colortitulos:rgb(54, 35, 27);
h1 {
    color: $colortitulos;
}

nav a {
    color: $colortitulos;
}

nav a:hover {
    color: $colorredes;
}

button {
    background-color: transparent;
}

footer a {
    color: $colorredes;
}

footer a:hover,
.pie-de-pagina:hover {
    color: $colortitulos;
}