/*menu**********************************************/

nav {
    display: flex;
    flex-flow: row space-evenly;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-end;
}

.menu__sub {
    display: none;
    position: absolute;
}

.menu__secundario:hover .menu__sub {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/*frase inicio*/

div#frase {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

aside#cuadro,
#audio {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-self: flex-start;
}


/*fotos instrumentos inicio*/

div#fotos-inicio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}


/*biografia*/


/*
.biografia {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}
*/

section#bio-texto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

aside#fotos-bio {
    display: flex;
    flex-direction: column;
}


/*taller*/

section#el-taller {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

aside#img-taller {
    display: flex;
}


/*musica*/

div#musica {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

aside#musica-spotify {
    display: flex;
    flex-direction: column;
}


/*capacitaciones*/

section#capacitaciones div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/*instrumentos*/

div,
.gridinstrumentos img {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: flex-start;
}


/*
div,
.subtitulos {
    display: block;
}*/


/*footer****************************************/

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: flex-end;
}