@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*variables*/

$fuentemenu: normal 25px 'Bebas Neue',
sans serif none;
$fuentedos: normal 'Roboto',
sans serif;
$fuentetexto: normal 1.6em 'Roboto',
sans serif;
h2,
.titulo-inicio {
    font: $fuentedos;
    font-size: 1.6em;
    text-decoration: none;
}

section,
.bio-texto {
    font: $fuentedos;
    text-align: justify;
}

nav,
.menu ul li a {
    font: $fuentemenu;
}

nav,
.menu ul li {
    list-style-type: none;
}

nav a {
    text-decoration: none!important;
}

ul li,
.menu__sub a :hover {
    font-size: 10px;
}

footer a {
    font: $fuentemenu;
    text-decoration: none;
}