/*grilla landing*/

#grilla-inicio {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 5fr;
    grid-template-rows: 1.5fr auto auto auto auto auto 100px;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    grid-area: 1/1/2/4;
}

nav {
    grid-area: 2/2/3/4;
}

#landing {
    grid-area: 3/2/4/4;
}

aside#cuadro,
#audio {
    grid-area: 3/2/4/3;
    background-color: rgb(54, 35, 27);
}

section#video-inicio {
    grid-area: 4/3/5/4;
}

div#fotos-inicio {
    grid-area: 5/2/6/4;
}

footer {
    grid-area: 6/1/7/4 !important;
}


/*grilla bio*/

#grilla-bio {
    display: grid;
    grid-template-columns: 0.5fr 3fr 1.5fr;
    grid-template-rows: 1.5fr auto auto auto;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    grid-area: 1/1/2/4;
}

nav {
    grid-area: 2/2/3/4;
}

main#bio-texto {
    grid-area: 3/2/4/3;
    background-color: pink;
}

aside#fotos-bio {
    grid-area: 3/3/4/4;
}

footer {
    grid-area: 4/1/5/4;
}


/*grilla taller*/

div#grilla-taller {
    display: grid;
    grid-template-columns: 0.5fr 1fr 3fr;
    grid-template-rows: 1.5fr auto auto auto;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    grid-area: 1/1/2/4;
}

nav {
    grid-area: 2/2/3/4;
}

main#taller {
    grid-area: 3/2/4/3;
    background-color: pink;
}

aside#img-taller {
    grid-area: 3/3/4/4;
}

footer {
    grid-area: 4/1/5/4;
}


/*grilla musica*/

#grilla-musica {
    display: grid;
    grid-template-columns: 0.5fr 3fr 3fr;
    grid-template-rows: 1.5fr auto auto auto auto auto;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    grid-area: 1/1/2/4;
}

nav {
    grid-area: 2/2/3/4;
}

#musica div {
    grid-area: 3/2/4/3;
    background-color: pink;
}

footer {
    grid-area: 4/1/5/4;
}


/*grilla actividad artistica*/

div#grilla-actividad {
    display: grid;
    grid-template-columns: 0.5fr 3fr 3fr;
    grid-template-rows: 1.5fr auto auto auto auto auto;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    grid-area: 1/1/2/4;
}

nav {
    grid-area: 2/2/3/4;
}

main {
    grid-area: 3/2/4/4;
}

footer {
    grid-area: 6/1/7/4;
}


/*grilla contacto*/

div#grilla-contacto {
    display: grid;
    grid-template-columns: 0.5fr 3fr 3fr;
    grid-template-rows: 1.5fr auto auto auto auto;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    grid-area: 1/1/2/4;
}

nav {
    grid-area: 2/2/3/4;
}

main div#contacto form {
    grid-area: 3/2/4/4;
    background-color: palevioletred;
}

footer {
    grid-area: 4/1/5/4;
}

.grilla-instrumentos {
    display: grid;
    grid-template-columns: 0.5fr 3fr 3fr;
    grid-template-rows: 1.5fr auto auto auto;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    grid-area: 1/1/2/4;
}

nav {
    grid-area: 2/2/3/4;
}

main {
    grid-area: 3/2/4/4;
}

footer {
    grid-area: 4/1/5/4;
}


/*instrumentos*/

section#grid-instrumentos div {
    h4,
    .subtitulos {
        padding: 3em;
        display: grid;
        grid-gap: 2em;
    }
    img {
        padding: 2em;
    }
    ;
}