    body {
        height: 100vh;
    }
    
    #gridinstrumentos {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }