/*import*/

@import "responsive";
@import "colores";
@import "fonts";
@import "grids";
@import "flex";
@import "animaciones";
@import "medidasmyp";

/*margenes y paddings*/

body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

